/* CSS Document */
/*
 * Inicio de Sitio Web para Ingreso de Denuncias por parte de ciudadanos
 * Para uso exclusivo de Ministerior del Interior - Republica Oriental de Uruguay
 * Autor: Wilon Denis Arriola
 * 01/10/2013 - Montevideo Uruguay
 * 
 * Pagina css
 *
 * hoja de stilo para los estilos generales de uso comun y correcciones puntuales para mejorar el diseño
 *
 */
/* B O D Y */
	@charset "utf-8";
/* IMPORTO EL TIPO DE LETRA */
	@import url(http://fonts.googleapis.com/css?family=Pontano+Sans|Oleo+Script);
	@font-face				{	font-family:"Artifika";src: url("../fonts/Artifika-Regular.ttf") format('truetype'),url("../fonts/Artifika-Regular.woff") format('woff');}
	@font-face				{	font-family: "Museo"; src: url("../fonts/Museo700-Regular.otf");}

/* P O P U P */
	.fondo_popup			{	position:absolute;top:0px;left:0px;width:100%;height:100%;background-color: #000;filter:alpha(opacity=50);-moz-opacity: 0.5;opacity: 0.5;}
	.centrar_popup 			{	position: absolute;top:50%;/*nos posicionamos en el centro del navegador*/left:50%;/*determinamos una anchura*/width:400px;
								margin-left:-200px;/*indicamos que el margen izquierdo, es la mitad de la anchura*/
								height:300px;/*determinamos una altura*/
								margin-top:-150;/*indicamos que el margen superior, es la mitad de la altura*/border:1px solid #808080;background-color:#fff;padding:5px;}


/* M E N S A J E S */
	.mensajes				{	width:990px; height: 14px; margin: 0 auto; color:#063; border: 2px solid #063; border-radius:10px;-webkit-border-radius:25px;-moz-border-radius:10px;
								font-family:"Artifika"; font-size:12px; margin-top:5px; vertical-align:middle; padding:5px;
								background: -moz-linear-gradient(top,  rgba(205,235,139,0.9) 0%, rgba(205,235,139,0.9) 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,139,0.9)), color-stop(100%,rgba(205,235,139,0.9))); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  rgba(205,235,139,0.9) 0%,rgba(205,235,139,0.9) 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  rgba(205,235,139,0.9) 0%,rgba(205,235,139,0.9) 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  rgba(205,235,139,0.9) 0%,rgba(205,235,139,0.9) 100%); /* IE10+ */
								background: linear-gradient(to bottom,  rgba(205,235,139,0.9) 0%,rgba(205,235,139,0.9) 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6cdeb8b', endColorstr='#e6cdeb8b',GradientType=0 ); /* IE6-9 */}
	.mensajes_mal			{	width:990px; height: 14px; margin: 0 auto; color:#F00; border: 2px solid #F00; border-radius:10px;-webkit-border-radius:25px;-moz-border-radius:10px;
								font-family:"Artifika"; font-size:12px; margin-top:5px; vertical-align:middle; padding:5px;
								background: -moz-linear-gradient(top,  rgba(242,106,96,0.9) 0%, rgba(242,106,96,0.9) 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,106,96,0.9)), color-stop(100%,rgba(242,106,96,0.9))); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  rgba(242,106,96,0.9) 0%,rgba(242,106,96,0.9) 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  rgba(242,106,96,0.9) 0%,rgba(242,106,96,0.9) 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  rgba(242,106,96,0.9) 0%,rgba(242,106,96,0.9) 100%); /* IE10+ */
								background: linear-gradient(to bottom,  rgba(242,106,96,0.9) 0%,rgba(242,106,96,0.9) 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f26a60', endColorstr='#e6f26a60',GradientType=0 ); /* IE6-9 */
								 */}
	.mensajes_ch			{	width:470px; height: 14px; margin: 0 auto; color:#063; border: 2px solid #063; border-radius:10px;-webkit-border-radius:25px;-moz-border-radius:10px;
								font-family:"Artifika"; font-size:12px; margin-top:5px; vertical-align:middle; padding:5px;
								background: -moz-linear-gradient(top,  rgba(205,235,139,0.9) 0%, rgba(205,235,139,0.9) 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,139,0.9)), color-stop(100%,rgba(205,235,139,0.9))); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  rgba(205,235,139,0.9) 0%,rgba(205,235,139,0.9) 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  rgba(205,235,139,0.9) 0%,rgba(205,235,139,0.9) 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  rgba(205,235,139,0.9) 0%,rgba(205,235,139,0.9) 100%); /* IE10+ */
								background: linear-gradient(to bottom,  rgba(205,235,139,0.9) 0%,rgba(205,235,139,0.9) 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6cdeb8b', endColorstr='#e6cdeb8b',GradientType=0 ); /* IE6-9 */}
	.mensajes_ch_mal		{	width:470px; height: 14px; margin: 0 auto; color:#F00; border: 2px solid #F00; border-radius:10px;-webkit-border-radius:25px;-moz-border-radius:10px;
								font-family:"Artifika"; font-size:12px; margin-top:5px; vertical-align:middle; padding:5px;
								background: -moz-linear-gradient(top,  rgba(242,106,96,0.9) 0%, rgba(242,106,96,0.9) 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,106,96,0.9)), color-stop(100%,rgba(242,106,96,0.9))); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  rgba(242,106,96,0.9) 0%,rgba(242,106,96,0.9) 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  rgba(242,106,96,0.9) 0%,rgba(242,106,96,0.9) 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  rgba(242,106,96,0.9) 0%,rgba(242,106,96,0.9) 100%); /* IE10+ */
								background: linear-gradient(to bottom,  rgba(242,106,96,0.9) 0%,rgba(242,106,96,0.9) 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f26a60', endColorstr='#e6f26a60',GradientType=0 ); /* IE6-9 */
								 */}
/* C U E R P O */

	#izquierda				{	margin-top:5px;	text-align:left;}
	#derecha				{	margin-top:5px; float:right;}
	#principal				{	width:1024px;margin: 0 auto;margin-top:12px;padding:10px;background: rgb(229,229,229); /* Old browsers */
								background: -moz-linear-gradient(top,  rgba(229,229,229,0.9) 0%, rgba(255,255,255,0.9) 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.9)),
								color-stop(100%,rgba(255,255,255,0.9))); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(top,  rgba(229,229,229,0.9) 0%,rgba(255,255,255,0.9) 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(top,  rgba(229,229,229,0.9) 0%,rgba(255,255,255,0.9) 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(top,  rgba(229,229,229,0.9) 0%,rgba(255,255,255,0.9) 100%); /* IE10+ */
								background: linear-gradient(to bottom,  rgba(229,229,229,0.9) 0%,rgba(255,255,255,0.9) 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
								box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5),10px 10px 20px rgba(0, 0, 0, 0.5);border-radius: 0 25px 25px 0;-webkit-border-radius: 0 25px 25px 0;
								-moz-border-radius: 0 25px 25px 0;-webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5),10px 10px 20px rgba(0, 0, 0, 0.5);
								-moz-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5),10px 10px 20px rgba(0, 0, 0, 0.5);z-index:5;}

	/* S L I D E R  */
	@-webkit-keyframes
	animaSlide				{	from{left:0px;}	20%{left:0px;}	40%{left:0px;}	60%{left:-960px;}	80%{left:-960px;}
									to{left:-960px;}}
/*	#slides					{	width:1920px;height:auto;overflow: hidden;-webkit-animation-name: animaSlide;-webkit-animation-duration: 3s;
								-webkit-animation-iteration-count: infinite;-webkit-animation-direction: alternate;-webkit-animation-timing-function: ease-in-out; 
								position:relative;} */
	#slides img				{	float:left;}
	/* A S I D E  */
/*	aside					{	clear: both;width: 1014px;margin-top:10px;overflow: hidden;border: 5px solid #D8D8D8;
								border-radius: 0 25px 25px 0;-webkit-border-radius: 0 25px 25px 0;-moz-border-radius: 0 25px 25px 0;
								box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5),10px 10px 20px rgba(0, 0, 0, 0.5);
								-webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5),10px 10px 20px rgba(0, 0, 0, 0.5);
								-moz-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5),10px 10px 20px rgba(0, 0, 0, 0.5);} */
	aside h1 				{	margin-top:10px;}

/*    C O L U M N A S  */
	#mibloque				{	column-count: 3;-webkit-column-count: 3;-moz-column-count: 3;-o-column-count: 3;/*Espacio entre columnas*/column-gap: 2em;
								-webkit-column-gap: 2em;-moz-column-gap: 2em;-o-column-gap: 2em;/*Agrega una barra solida de color*/column-rule: 2px solid #666;
								-webkit-column-rule: 2px solid #666;-moz-column-rule: 2px solid #666;-o-column-rule: 2px solid #666;padding:10px;
								box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5),10px 10px 20px rgba(0, 0, 0, 0.5);border-radius: 0 25px 25px 0;
								-webkit-border-radius: 0 25px 25px 0;-moz-border-radius: 0 25px 25px 0;-webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5),
								10px 10px 20px rgba(0, 0, 0, 0.5);-moz-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5),10px 10px 20px rgba(0, 0, 0, 0.5);}
	#micolumna				{	position:relative;float:left;width:477px;height:74px;margin:10px auto;margin-left:8px;text-align:left;padding: 10px;font-size:12px;line-height:2em;
								border-radius: 0 5px 5px 0;-webkit-border-radius: 0 5px 5px 0;-moz-border-radius: 0 5px 5px 0;box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5),
								5px 5px 10px rgba(0, 0, 0, 0.5);-webkit-box-shadow: -5px 5px 10px  rgba(0, 0, 0, 0.5),5px 5px 10px rgba(0, 0, 0, 0.5);-moz-box-shadow:
								-5px 5px 10px  rgba(0, 0, 0, 0.5),5px 5px 10px rgba(0, 0, 0, 0.5);}
	.noti_titulo			{	position:relative;float:left;text-align:center;font-size:18px;color:#FFF;width:400px;background-color:#666;border:1px solid #3e3e3e;}
	.noti_mensaje			{	position:relative;float:left;padding-left:3px;width:397px;height:50px;border:1px solid #3e3e3e;}
	#micolumna2				{	position:relative;margin:10px auto;}
	.noti_titulo2			{	position:relative;text-align:center;font-size:18px;color:#FFF;background-color:#666;border:1px solid #3e3e3e;}
	.noti_mensaje2			{	position:relative; text-align:center;padding-left:3px;border:1px solid #3e3e3e;}
	.noti_mensaje2 p		{	font-size:12px; color:#036}
	.negrita				{	font-weight:bold}
	.noti_foto				{	float:right;width:64px;height:64px;margin-top:5px;margin-right:0px;background-color:#666;border:1px solid #3e3e3e;}
	.listado				{	padding:10px;padding-top:8px;width:200px;display:inline;text-shadow: 3px 3px 3px rgba(0,0,0,0.5);-webkit-text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
								-moz-text-shadow: 3px 3px 3px rgba(0,0,0,0.5);z-index:500;}

/*  P I E   D E   P A G I N A  */
	.columnas				{	text-align: center;-moz-column-count:3;-moz-column-width:300px;-moz-column-grap:10px;-moz-column-rule: 1px solid #ccc;-webkit-column-count:3;
								-webkit-column-width:300px;-webkit-column-grap:10px;-webkit-column-rule: 1px solid #ccc;}
	.bloques				{	float:left;position: relative;width: 290px;padding-top: 15px;-webkit-padding-top:15px;padding-left: 15px;}
	.bloques_mid			{	float:left;position: relative;width: 330px;padding-top: 5px;-webkit-padding-top:5px;padding-left: 5px; vertical-align:middle;}
	.bloques_mid p			{	text-align:center;font-size:10px !important;}
	.bloques_mid h2			{	text-align: left; font-size: 16px !important;}
	.bloques_mid a			{	color:#F63 !important;}
	.marco					{	display:block;width:290px;background:url(../images/image-frames.png) top left no-repeat;height:180px;margin:0;padding:10px 2px;}
	.marco2					{	padding:6px 3px;}
	.sinmarco				{	width:300px;height:180px;padding:5px 2px;}


/* I C O N O S   Y   S O M B R A S  */

	.icono					{	font-size:15px;padding-left:5px;padding-right:5px;color:#F63;}
	.iconogrande			{	margin-left:5px;font-size:26px;color: #ff3 !important;}
	.sombra					{	text-shadow: 3px 3px 3px rgba(0,0,0,0.7);-webkit-text-shadow: 3px 3px 3px rgba(0,0,0,0.7);-moz-text-shadow: 3px 3px 3px rgba(0,0,0,0.7);}
	.sombraborde			{	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);}
	.sombrainterior			{	-moz-box-shadow: inset 0 4px 6px rgba(0,0,0,.5);-webkit-box-shadow: inset 0 4px 6px rgba(0,0,0,.5);box-shadow: inset 0 4px 6px rgba(0,0,0,.5);}