<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

DirectoryIndex index.php index.html index.htm
ServerSignature On

<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

<Files "common.php">
Order Allow,Deny
Deny from All
</Files>

<Files "*.tpl">
Order Allow,Deny
Deny from All
</Files>

deny from 157.55.39.0/24
deny from 207.46.13.0/24
